html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  transition: .3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

body {
  overflow: hidden; }

.main {
  position: relative;
  width: 100%;
  height: 100vh; }

#dlg_login {
  width: 608px;
  margin: 100px auto;
  text-align: center;
  background-color: #dad5cb;
  border: 1px solid grey;
  box-shadow: 3px 3px 0px #dad5cb;
  color: white; }
  #dlg_login section {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 20px; }
  #dlg_login ul {
    height: 223px; }
  #dlg_login li {
    float: left;
    width: 118px;
    padding: 7px;
    background-color: #676767;
    border: 2px solid #afafaf;
    margin: 3px;
    cursor: pointer; }
    #dlg_login li img {
      width: 119px;
      height: 172px; }
  #dlg_login li.active {
    border: 2px solid #44abda; }

#btn_join {
  background-color: #2fa1d6;
  padding: 10px 36px;
  color: white;
  border-radius: 8px;
  margin-top: 20px; }

#publisher {
  width: 128px;
  height: 128px;
  bottom: 0px;
  position: absolute;
  margin: 0 auto; }

#loading {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 35px); }
