html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  transition: .3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

body {
  overflow: hidden; }

button {
  background-color: #2fa1d6;
  color: white;
  border-radius: 8px;
  padding: 10px 36px; }

.main {
  position: relative;
  width: 100%;
  height: 100vh; }

#dlg_login {
  width: 608px;
  margin: 100px auto;
  text-align: center;
  background-color: #dad5cb;
  border: 1px solid grey;
  box-shadow: 3px 3px 0px #dad5cb;
  color: white; }
  #dlg_login section {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 2px 20px; }
  #dlg_login ul {
    height: 223px; }
  #dlg_login li {
    float: left;
    width: 118px;
    padding: 7px;
    background-color: #676767;
    border: 2px solid #afafaf;
    margin: 3px;
    cursor: pointer; }
    #dlg_login li img {
      width: 119px;
      height: 172px; }
  #dlg_login li.active {
    border: 2px solid #44abda; }

#dlg_setting {
  display: none;
  position: absolute;
  margin: 30px auto;
  top: 200px;
  background-color: #eee;
  border: 1px solid #999;
  box-shadow: 3px 3px 5px 0px grey;
  width: 450px;
  left: 50%;
  transform: translateX(-50%); }
  #dlg_setting h4 {
    padding-bottom: 15px; }
  #dlg_setting .tab_section {
    padding: 20px 25px; }
  #dlg_setting .height_50 {
    height: 50px; }
  #dlg_setting section {
    padding: 6px 55px; }
  #dlg_setting #btn_OK {
    float: right;
    margin-right: 20px; }

#btn_join {
  padding: 10px 36px;
  margin-top: 20px; }

#myVideo {
  width: 100px;
  height: 36px;
  margin-top: -25px; }

#publisher {
  width: 86px;
  height: 86px; }

#toolbar {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 670px;
  bottom: 20px;
  background-color: rgba(64, 64, 64, 0.58); }
  #toolbar li {
    float: left;
    padding: 30px;
    cursor: pointer; }

#dlg_share_link {
  display: none;
  position: absolute;
  bottom: 134px;
  background-color: #eee;
  border: 1px solid #999;
  box-shadow: 3px 3px 5px 0px grey;
  left: calc(50% - 400px); }
  #dlg_share_link section {
    padding: 20px; }
  #dlg_share_link p {
    padding: 10px 20px; }
  #dlg_share_link input {
    margin: 14px 0px; }

#loading {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 35px); }
